{% extends 'base.html' %}

{% block content %}

<div id="home" class="banner-area section-padding">
    <div class="bg-overlay black"></div>
    <div class="containter">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text">
                    <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Chetan</div>
                    <h1 class="wow fadeInDown" data-wow-delay="0.4s">Full Stack Python Developer</h1>
                    <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                    <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</div>

{# About section#}

<div id="about" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-left">
                    <h2 class="section-title">About Me</h2>
                    <div class="line"></div>
                    <h4>{{ about.short_description }}</h4>
                    <p>{{ about.description }}</p>
                    <a href="media/about/Chetan Resume.pdf" download>Download CV&nbsp;<i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                <div class="profile">
                    <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

{# Services Section#}
<div id="services" class="section-padding-skills">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2>Skills I have</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}

            <div style="text-align: center;" class="col-md-2 col-sm-4 col-xs-6">
                <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                    <img src="{{service.image.url}}" class="img-fluid" style="border-radius: 50%;" alt="logo">
                    <h2>{{ service.name }}</h2>
                    <p>{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{# Recent Works Section#}
<div id="portfolio" class="portfolio-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>My Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- {% for work in works %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="gallery-items">
                            <a class="view img" href="{{ work.image.url }}">
                                <img src="{{ work.image.url }}" alt="work image">
                            </a>

                            <div class="gallery-text">
                               
                                <a href="{% url 'ideamagix' %}"> <h2>{{ work.title }}</h2></a>
                            </div>
                        </div>
                    </div>
                {% endfor %} -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="gallery-items">
                    <a class="view img" href="{{ work.image.url }}">
                        <img src="media/works/s1.png" alt="work image">
                    </a>

                    <div class="gallery-text">

                        <a href="{% url 'ideamagix' %}">
                            <h2>Static</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="gallery-items">
                    <a class="view img" href="{{ work.image.url }}">
                        <img src="media/works/s2s2.png" alt="work image">
                    </a>

                    <div class="gallery-text">

                        <a href="{% url 'watch' %}">
                            <h2>Animate</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="gallery-items">
                    <a class="view img" href="{{ work.image.url }}">
                        <img src="media/works/s3.png" alt="work image">
                    </a>

                    <div class="gallery-text">

                        <a href="{% url 'login' %}">
                            <h2>Dynamic</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Contact section#}
<!-- qualification section -->

<div id="quali" class="invitation-area section-padding">
    <div class="container">
        <div class="row">
            <div class="single-invite text-center">
                <h2>My Qualifications</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at cupiditate distinctio dolorem
                        dolores impedit, inventore magnam magni nam numquam quidem ratione rem repellendus, saepe?</p> -->
                <a type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn">Get started</a>

                <div style="color: black;" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Education</th>
                                            <th scope="col">University/College Name</th>
                                            <th scope="col">Year of Passing</th>
                                            <th scope="col">Grade/%</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">B.E(EXTC)</th>
                                            <td>Mumbai University</td>
                                            <td>2020</td>
                                            <td>sem 8 : 10.00 <br>
                                                sem 7 : 8.00
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">T.E</th>
                                            <td>Mumbai University</td>
                                            <td>2019</td>
                                            <td>
                                                sem 6 : 8.50 <br>
                                                sem 5 : 7.93
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">S.E</th>
                                            <td>Mumbai University</td>
                                            <td>2018</td>
                                            <td>
                                                sem 4 : 6.64 <br>
                                                sem 3 : 6.46
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">F.E</th>
                                            <td>Mumbai University</td>
                                            <td>2017</td>
                                            <td>
                                                sem 2 : 6.54 <br>
                                                sem 1 : 6.30
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">H.S.C</th>
                                            <td>VIVA Jr. College</td>
                                            <td>2016</td>
                                            <td>68.62%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">S.S.C</th>
                                            <td>N.G.Vartak School</td>
                                            <td>2014</td>
                                            <td>78.20%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- contact section -->
<div id="contact" class="contact-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center my-section-header">
                    <h2>Contact Me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-lg-4 col-xs-12">
                <div class="card call">
                    <div class="card-body">
                       <div class="text-center">
                            <h5>call</h5>
                            <p>
                                +91 9604030646 
                                +91 7021183835
                            </p>
                       </div>         
                    </div>
                </div>
            </div>
            <div class="container col-lg-4 col-xs-12">
                <div class="card call">
                    <div class="text-center">
                        <h5>E-mail</h5>
                        <p>
                            chetanprajapati1070@gmail.com
                        </p>
                   </div> 
                </div>
            </div>
            <div class=" container col-lg-4 col-xs-12">
                <div class="card call">
                    <div class="text-center">
                        <h5>social</h5>
                        <p>
                            linkden.com
                        </p>
                   </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}