{% extends 'base.html' %}


{% block content %}

<div id="simpleModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title text-danger">Instruction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <h5 class="w3-center text-center">Hello Users. If you want to preview this site, you can use the credentials mentioned below.
                
                
                </h5>
                <h6>EMAILADDR :- <span class="text-warning"> ram@gmail.com</span></h6>
                <h6>PASSWORD :- <span class="text-warning">Test@1234 </span></h6>
                <br>
              <h5 class="text-success">Features present :-</h5>

              <p class="text-info font-weight-bold">
                1 - Email Authentication :- currently google has removed the less secure app config, so this feature is disable <br>
                2 - Password reset, password forgot <br>
                3 - order detail page is sent to user through mail <br>
                4 - variations <br>
                5 - admin-honeypot <br>
                6 - user can make use of search bar <br>
                7 - user can comment reviews <br>
                8 - Payment Gateway
                
              </p>
          </div>
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div> -->
      </div>
  </div>
</div>

<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->

{% if request.GET.command == 'verification' %}

<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
Thank you for registering with us. We have sent you a verification email to your email address [{{ request.GET.email }}]
<br><br>
Already verified? <a href="{% url 'login' %}">Login</a>
</div>

{% else %}

	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Password" name="password">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Login  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endif %}

</section>
{% endblock %}
