{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="simpleModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Instruction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="w3-center text-center">Hello Users. If you want to preview this site, you can use the credentials mentioned below
                  
                  </h5>
                  <h6>EMAILADDR :- <span class="text-warning"> ram@gmail.com</span></h6>
                  <h6>PASSWORD :- <span class="text-warning">Test@1234 </span></h6>
                  <br>
                <h5 class="text-success">Features present :-</h5>
  
                <p class="text-info font-weight-bold">
                  1 - Email Authentication :- currently google has removed the less secure app config, so this feature is disable <br>
                  2 - Password reset, password forgot <br>
                  3 - order detail page is sent to user through mail <br>
                  4 - variations <br>
                  5 - admin-honeypot <br>
                  6 - user can make use of search bar <br>
                  7 - user can comment reviews <br>
                  8 - Payment Gateway
                  
                </p>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
  </div>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4">
                <h4 class="card-title">Sign up</h4>
            </header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}


                <div class="form-row">
                    <div class="col form-group">
                        <label>First name</label>
                        {{ form.first_name }}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Last name</label>
                        {{ form.last_name }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email Address</label>
                        {{form.email}}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Phone Number</label>
                        {{form.phone_number}}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Create password</label>
                        {{ form.password }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Repeat password</label>
                        {{form.confirm_password}}
                    </div> <!-- form-group end.// -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->
                {{ form.email.errors }}
                {{ form.non_field_errors }}
            </form>
        </article><!-- card-body.// -->
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}